.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #007bff;
  color: white;
  padding: 15px 20px;
}

.navbar h2 {
  margin: 0;
}

.navbar a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.navbar button {
  background: #ff4757;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  cursor: pointer;
}
